.jumbotron {
    padding: 16px;
}

#millerbots-logo {
    float: right;
    width: 100px;
}

label {
    font-weight: bold;
}

.section {
    margin-top: 15px;
}

.question {
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.question > input,
.question > select {
    margin-left: 15px;
}

.question > textarea {
    margin-left: 15px;
}

#message {
	margin-top: 25px;
}

#submit {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: auto;
}

button.btn {

	font-weight: bold;
	margin-left: 1em;
	width: 2.75em;

}

button.btn-primary-lighter {

	background-color: #7ebcff;
	border-color: #7ebcff;

}
