.jumbotron {
    padding: 16px;
}

#millerbots-logo {
    float: right;
    width: 100px;
}

label {
    font-weight: bold;
}

.section {
    margin-top: 15px;
}
.question {
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.question > input,
.question > select {
    margin-left: 15px;
}

#submit {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;
}