<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Matchup Creation</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <h1>Matchup Creation</h1>
    <p></p>
    <form th:action="@{/matchups}" th:object="${dto}" method="post" id="matchupForm" class="form-horizontal">
        <p>Match Number: <input type="text" th:field="*{matchNumber}"/> Start Date: <input type="date" th:field="*{startDate}" th:value="*{startDate}"/> Start Time: <input type="time" th:field="*{startTime}"/></p>

        <p>Team Number Red: <input type="text" th:field="*{teamNumberRedOne}"/> Team Number Blue: <input type="text" th:field="*{teamNumberBlueOne}"/></p>
        <p>Team Number Red: <input type="text" th:field="*{teamNumberRedTwo}"/> Team Number Blue: <input type="text" th:field="*{teamNumberBlueTwo}"/></p>
        <p>Team Number Red: <input type="text" th:field="*{teamNumberRedThree}"/> Team Number Blue: <input type="text" th:field="*{teamNumberBlueThree}"/></p>

        <p><input type="submit" value="Submit"/></p>
    </form>
</div>

</body>
</html>
