<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Maintenance</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/millerbots.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <div class="container">
        <img id="millerbots-logo" src="images/miller_bots.jpg" alt=""/>
        <h1>Washburn Millerbots Scouting System</h1>
        <p>Team 2549</p>
    </div>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="scouting.html">Scouting</a></li>
            <li class="nav-item active"><a class="nav-link" href="teams">Team Entry</a></li>
            <li class="nav-item"><a class="nav-link" href="matchups">Matchup Entry</a></li>
            <li class="nav-item"><a class="nav-link" href="results.html">Results</a></li>
        </ul>
    </nav>
    <p></p>
</div>

<div class="container-fluid">
    <form th:action="@{/teams}" th:object="${dto}" method="post" id="teamForm" class="form-horizontal">
        <div class="row">
            <div class="col-sm-2"><label for="teamId">Team Number:</label></div>
            <div class="col-sm-4"><input type="number" th:field="*{teamId}" required="required"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="name">Team Name:</label></div>
            <div class="col-sm-4"><input type="text" th:field="*{name}" required="required"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="school">School:</label></div>
            <div class="col-sm-4"><input type="text" th:field="*{school}"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="city">City:</label></div>
            <div class="col-sm-4"><input type="text" th:field="*{city}" required="required"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="state">State:</label></div>
            <div class="col-sm-4"><input type="text" th:field="*{state}" required="required"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="country">Country:</label></div>
            <div class="col-sm-4"><input type="text" th:field="*{country}" required="required"/></div>
        </div>

        <p></p>
        <div class="row">
            <div class="col-sm-1"><input type="submit" value="Submit"/></div>
        </div>
    </form>
</div>


<script type="text/javascript">
    /*<![CDATA[*/
    $('#teamId').on('blur', function () {
        var teamId = $(this).val();
        $.ajax({
            dataType: "json",
            url: "teams/" + teamId,
            cache: false,
            success: function (json) {
                $('#name').val(json.name);
                $('#school').val(json.school);
                $('#city').val(json.city);
                $('#state').val(json.state);
                $('#country').val(json.country);
            },
            error: function (response) {
                console.log(response)
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>
